# IAB330 Tutorial 1: Introduction to Python Programming

***Unit Coordinator: A/Prof Sara Khalifa (sara.khalifa@qut.edu.au)***

***Tutor: Mr. Tao Liu (t24.liu@hdr.qut.edu.au)***

***Tutor: Sk Tanzir Mehedi (s.tanzir@qut.edu.au)***

## Basic Syntax and Data Types

***Hello World Example***

In [5]:
print("Hello World")  # Output: Hello World

Hello World

***String Concatenation***

In [8]:
name = "Alice"
print("Hello, " + name)  # Output: Hello, Alice

Hello, Alice

***Variable Initialization***

In [9]:
number = 3       # Integer
age = 3.1        # Float
name = "Bob"     # String
is_student = True  # Boolean

In [10]:
number

3

## List

***List Initialization and Access***

In [11]:
my_list = [False, "a", 2.0, 3]
print(my_list[0])  # Output: False
print(my_list[1])  # Output: "a"
print(my_list[2])  # Output: 2.0
print(my_list[3])  # Output: 3

False
a
2.0
3

***List Slicing***

In [12]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1:3])  # Output: ['banana', 'cherry']

['banana', 'cherry']

***Iterating Over a List***

In [13]:
for fruit in fruits:
    print(fruit)  # Prints each fruit in separate lines

apple
banana
cherry

***List Operations***

In [14]:
combined = [1, 2, 3] + [4, 5, 6]  # [1, 2, 3, 4, 5, 6]
repeated = [0] * 5  # [0, 0, 0, 0, 0]
print(3 in combined)  # Output: True

True

In [15]:
combined

[1, 2, 3, 4, 5, 6]

***List Methos***

In [16]:
numbers = [3, 2, 1]
numbers.append(4)  # [3, 2, 1, 4]
numbers.remove(2)  # [3, 1, 4]
numbers.sort()     # [1, 3, 4]
numbers.reverse()  # [4, 3, 1]

In [17]:
numbers

[4, 3, 1]

## Tuples

***Tuple Initialization and Access***

In [18]:
t = (1, 2, 3, "cheese")
print(t[0])  # Output: 1
# t[3] = "hello"  # this will raise an error

1

***Tuple Operations***

In [19]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
repeated_tuple = tuple1 * 2
print(combined_tuple)  # Output: (1, 2, 3, 4, 5, 6)
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

***Tuple Unpacking***

In [20]:
my_tuple = ("apple", "banana", "cherry")
fruit1, fruit2, fruit3 = my_tuple
print(fruit1)  # Output: apple
print(fruit2)  # Output: banana
print(fruit3)  # Output: cherry

apple
banana
cherry

## Conditional Statements

***If Statement***

In [21]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

***If-else Statement***

x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

***If-elif-else Statement***

In [23]:
x = 7
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 10

## Looping Statements

***For Loop***

In [24]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

***For Loop with range()***

In [25]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

***While Loop***

In [27]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

## Functions

***Defining and Calling Functions***

In [28]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")  # Output: "Hello, Alice!"

Hello, Alice!

***Local Variables***

In [48]:
def my_function():
    local_var = 10
    print(local_var)

my_function()  # Output: 10
print(local_var)  # this will raise an error

10

NameError: name 'local_var' is not defined

***Positional Arguments***

In [30]:
def add(a, b):
    return a - b

result = add(3, 5)
print(result)  # Output: -2

-2

***Keyword Arguments***

In [32]:
def describe_pet(animal_type, pet_name):
    print(f"I have a {animal_type} named {pet_name}.")

describe_pet(animal_type="dog", pet_name="Buddy")

I have a dog named Buddy.

***Default Parameters***

In [34]:
def greet(name="stranger"):
    print(f"Hello, {name}!")

greet()  # Output: Hello, stranger!
greet("Alice")  # Output: Hello, Alice!

Hello, stranger!
Hello, Alice!

***Returning Values***

In [35]:
def square(x):
    return x ** 2

result = square(4)
print(result)  # Output: 16

16

***Returning Multiple Values***

In [36]:
def get_user_info():
    name = "Alice"
    age = 30
    return name, age

user_name, user_age = get_user_info()  # using tuple unpacking
print(user_name)  # Output: Alice
print(user_age)  # Output: 30

Alice
30

## File I/O

***Opening and Closing Files***

In [38]:
file = open("example.txt", "r")
file.close()

***Reading Entire File***

In [40]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

QUT

***Reading Line by Line***

In [41]:
with open("example.txt", "r") as file:
    for line in file:
        print(line.strip())  # remove newline characters

QUT

***Reading All Lines***

In [42]:
with open("example.txt", "r") as file:
    lines = file.readlines()
    print(lines)

['QUT']

***Writing to Files***

In [43]:
with open("example.txt", "w") as file:
    file.write("Hello, world!\n")
    file.write("This is a new line.\n")

***Appending Text to a File***

In [45]:
with open("example.txt", "a") as file:
    file.write("Appending a new line.\n")

***Using Context Managers***

In [46]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)
    # No need to call file.close()

Hello, world!
This is a new line.
Appending a new line.